@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap');



*{
  padding:0;
  margin:0;
  font-family:"Inter", sans-serif;
}


body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

:root{
  --main-colour:#485461;
  --bg-color:#A9A9A9;
  --input-color:#D3D3D3;
  --equal-btn:#FFEA00;
  --equal-hover:#EEDC82;
    }

.main-container{
  background-color:var(--main-colour);
  background-image:linear-gradient(315deg, #485461 0%, #28313b 74%);
  width:340px;
  height:540px;
  padding:10px;
  border-radius:5px;
  
}

.input-screen{
  height:100px;
  width:100%;
  margin-bottom:10px;
  padding:0 10px;
  background-color:var(--input-color);
  border-radius:7px;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  color:white;
  font-weight:bold;
  box-sizing:border-box;
}

.button-container{
  width:100%;
  height: calc(100% - 110px);
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:repeat(5,1fr);
  grid-gap:10px;
  background-color:var(--bg-color);
}

button{
  border:none;
  background-color:white;
  font-size:24px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  border-radius:10px;
  outline:none;
}

button:hover{
  background-color:black;
  color:white;
}

.equal{
  grid-column:3/5;
  background-color:var(--equal-btn);

}

.equal:hover{
  background-color:var(--equal-hover);
}